body {
        background-color:rgb(200,200,200)
}

failed {
        background-color:rgb(255,128,128)
}

pending {
        background-color:rgb(255,255,128)
}

finished {
        background-color:rgb(128,128,255)
}

running {
        background-color:rgb(128,255,128)
}

