
{{define "entry"}}
	<p><span style="color:#000088; font-size:1.3em"> <b>{{.Name}}</b>{{.Ins}} </span> 
	{{with .Doc}} <p style="margin-left:40px"> {{.}} </p> {{end}}

	{{with .Examples}} <p style="margin-left:40px"> <b>examples:</b> 
		{{range .}} 
			<a href="examples.html#example{{.}}">[{{.}}]</a> 
		{{end}} 
		</p> 
	{{end}}

	{{with .Methods}} 
		<p style="margin-left:40px"> <span style="color:grey"> <b>methods:</b> 
		{{range .}} {{.}} &nbsp;{{end}} 
		</span> </p> 
	{{end}}

	</p>
{{end}}


{{.Include "head.html"}}

<h1> mumax<sup>3</sup> API </h1>

This is a complete overview of all available functions for writing an input script.

<hr/><h1> Setting  the mesh size</h1>
The simulation mesh defines the size of the box around your magnet. It should be set at the beginning of the script. The number of cells should preferably be powers of two, or at least have small prime factors (2,3,5,7). E.g.:
<pre><code>Nx := 128
Ny := 64
Nz := 2
sizeX := 500e-9
sizeY := 250e-9
sizeZ := 10e-9
SetGridSize(Nx, Ny, Nz)
SetCellSize(sizeX/Nx, sizeY/Ny, sizeZ/Nz)
</code></pre>

{{range .FilterName "setgridsize" "setcellsize"}} {{template "entry" .}} {{end}}


<hr/><h1> Setting a geometry </h1>

Optionally a magnet Shape other than the full simulation box can be specified. One can specify primitive shapes, constructed at the origin (box center), and translate/rotate them if needed. E.g.:
<pre><code> SetGeom(cylinder(400e-9, 20e-9).RotX().Transl(1e-6,0,0))
</code></pre>

{{range .FilterName "setgeom"}} {{template "entry" .}} {{end}}
{{range .FilterReturn "Shape"}} {{template "entry" .}} {{end}}


<hr/><h1> Defining regions </h1>
Optionally, up to 256 regions can be defined. Each region can have its own material parameters. E.g.:
<pre><code>DefRegion(1, circle(1e-6))
DefRegion(0, circle(1e-6).Inverse())
</code></pre>

{{range .FilterName "DefRegion" }} {{template "entry" .}} {{end}}

<hr/><h1> Initial magnetization </h1>

The initial magnetization is set by assigning a <code>Config</code> to m, setting it in separate regions, or by loading a file directly.
<pre><code>m = uniform(1, 0, 0)
m.SetRegion(1, vortex(1, 1))
m.LoadFile("config.dump")
</code></pre>

{{range .FilterName "m"}} {{template "entry" .}} {{end}}
{{range .FilterReturn "Config"}} {{template "entry" .}} {{end}}

<hr/><h1> Material parameters </h1>

Assigning to a material parameter sets a value in all regions. E.g.:
<pre><code>Msat  = 800e3
AnisU = vector(1, 0, 0)
</code></pre>

When regions are defined, they can also be set region-wise:
<pre><code>Msat.SetRegion(0, 800e3)
Msat.SetRegion(1, 540e3)
</code></pre>

Material parameters can be functions of time as well. E.g.:
<pre><code>f := 500e6
Ku1 = 500 * sin(2*pi*f*t)
</code></pre>

{{range .FilterType "*engine.ScalarParam" "*engine.VectorParam"}} {{template "entry" .}} {{end}}

<hr/><h1> Excitation </h1>

{{range .FilterType "*engine.Excitation"}} {{template "entry" .}} {{end}}

<hr/><h1> Output quantities </h1>

{{range .FilterType "*engine.setter" "*engine.adder" "*engine.buffered" "*engine.GetFunc" "*engine.FFTM" "*engine.Regions"}} {{template "entry" .}} {{end}}


<hr/><h1> Scheduling output </h1>

{{range .FilterName "tableadd" "tablesave" "tableautosave" "save" "saveas" "autosave"}} {{template "entry" .}} {{end}}

<hr/><h1> Running </h1>

{{range .FilterName "run" "steps" "t" "Dt" "MinDt" "MaxDt" "FixDt" "HeadRoom" "MaxErr"}} {{template "entry" .}} {{end}}


<hr/><h1> Extensions </h1>

{{range .FilterPrefix "ext_"}} {{template "entry" .}} {{end}}
{{range .FilterName "enabledemag" "average" "fprintln" "setexlen"}} {{template "entry" .}} {{end}}

<hr/><h1> Misc </h1>
{{range .FilterLeftovers}} {{template "entry" .}} {{end}}

</body>

