
{{define "entry"}}
	<p><span style="color:#000088; font-size:1.3em"> <b>{{.Name}}</b>{{.Ins}} </span> {{.Type}}

	{{with .Doc}} <p> {{.}} </p> {{end}}

	{{with .Examples}} <p> <b>examples:</b> 
		{{range .}} 
			<a href="examples.html#example{{.}}">[{{.}}]</a> 
		{{end}} 
		</p> 
	{{end}}

	{{with .Methods}} 
		<p> <span style="color:grey"> <b>methods:</b> 
		{{range .}} {{.}} &nbsp;{{end}} 
		</span> </p> 
	{{end}}

	</p><hr/>
{{end}}


{{.Include "head.html"}}

<h1> mumax<sup>3</sup> API </h1>

<h1> Setting  the mesh size</h1>
The simulation mesh defines the maximum size of the magnet. It should be set at the beginning of the script. For the number of cells, powers of two or numbers with small prime factors are advisable. E.g.:
<pre><code>Nx := 128
Ny := 64
Nz := 2
sizeX := 500e-9
sizeY := 250e-9
sizeZ := 10e-9
SetGridSize(Nx, Ny, Nz)
SetCellSize(sizeX/Nx, sizeY/Ny, sizeZ/Nz)
</code></pre>

{{range .FilterName "setgridsize" "setcellsize"}} {{template "entry" .}} {{end}}


<h1> Setting a geometry </h1>

Once the gridsize has been set, optionally a magnet Shape can be specified. The geometry is always constrained to the simulation box. Primitive shapes are constructed at the origin (box center) by default, and can be rotated and translated if needed. E.g.:
<pre><code> SetGeom(cylinder(400e-9, 20e-9).RotX().Transl(1e-6,0,0))
</code></pre>

{{range .FilterName "setgeom"}} {{template "entry" .}} {{end}}
Shape constructors:
{{range .FilterReturn "Shape"}} {{template "entry" .}} {{end}}


<h1> Defining regions </h1>
Optionally, up to 256 regions can be defined. Each region can have its own material parameters. E.g.:
<pre><code>DefRegion(1, circle(1e-6))
DefRegion(0, circle(1e-6).Inverse())
</code></pre>

{{range .FilterName "DefRegion" }} {{template "entry" .}} {{end}}

<h1> Initial magnetization </h1>

{{range .FilterReturn "Config"}} {{template "entry" .}} {{end}}

<h1> Material parameters </h1>

Assigning to a material parameter sets a value in all regions. E.g.:
<pre><code>Msat  = 800e3
AnisU = vector(1, 0, 0)
</code></pre>

When regions are defined, they can also be set region-wise:
<pre><code>Msat.SetRegion(0, 800e3)
Msat.SetRegion(1, 540e3)
</code></pre>

Material parameters can be functions of time as well. E.g.:
<pre><code>f := 500e6
Ku1 = 500 * sin(2*pi*f*t)
</code></pre>

{{range .FilterType "*engine.ScalarParam" "*engine.VectorParam"}} {{template "entry" .}} {{end}}

<h1> Excitation </h1>

{{range .FilterType "*engine.Excitation"}} {{template "entry" .}} {{end}}

<h1> Output quantities </h1>

{{range .FilterType "*engine.setter" "*engine.adder" "*engine.buffered" "*engine.GetFunc" "*engine.FFTM" "*engine.Regions"}} {{template "entry" .}} {{end}}


<h1> Scheduling output </h1>

{{range .FilterName "tableadd" "tablesave" "tableautosave" "save" "saveas" "autosave"}} {{template "entry" .}} {{end}}

<h1> Running </h1>

{{range .FilterName "run" "steps" "t" "Dt" "MinDt" "MaxDt" "FixDt" "HeadRoom" "MaxErr"}} {{template "entry" .}} {{end}}


<h1> Extensions </h1>

{{range .FilterPrefix "ext_"}} {{template "entry" .}} {{end}}
{{range .FilterName "enabledemag" "average" "fprintln" "setexlen"}} {{template "entry" .}} {{end}}

<h1> Misc </h1>
{{range .FilterLeftovers}} {{template "entry" .}} {{end}}

</body>

