body { margin-left: 10%; margin-right: 10%; margin-top:2em; font-family: sans-serif;  }
h1   { color: #000088}
h2   { font-size: 18px; color: #000088}
h3   { font-size: 15px; font-weight: normal; color: #000088}
table{ border:"10"; }
hr   { border-style: none; border-top: 1px solid #CCCCCC; margin-top: 10px; margin-bottom: 10px }
a    { color: #375EAB; text-decoration: none; }
div  { margin-left: 20px; margin-top: 10px; margin-bottom: 20px; }
div#footer { color: #555555 }
pre  { margin-left: 50px; margin-top: 10px; margin-bottom: 20px; color: #000044; font-size: 12px; background-color: #EEEEFF; padding:10px; }
figure { margin-left: 2px; margin-top: 2px; margin-bottom: 2px; padding:2px; }
figcaption { color: #555555 }
